<manifest
  xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
>
    <queries>
        <package android:name="com.google.ar.core" />
    </queries>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
    android:name=".MainApplication"
    android:label="@string/app_name"
    android:icon="@mipmap/ic_launcher"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:allowBackup="false"
    android:theme="@style/AppTheme"
  >
  <meta-data android:name="com.google.ar.core" android:value="optional" />
  <meta-data
      android:name="com.samsung.android.vr.application.mode"
      android:value="vr_only"
    />

      <activity
      android:name=".MainActivity"
      android:label="@string/app_name"
      android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode"
      android:launchMode="singleTask"
      android:windowSoftInputMode="adjustResize"
      android:exported="true"
    >
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
            <!-- Add the following line for cardboard -->
            <category android:name="com.google.intent.category.CARDBOARD" />
            <!-- Add the following line for daydream -->
            <category android:name="com.google.intent.category.DAYDREAM" />
        </intent-filter>
      </activity>
    </application>
    
</manifest>
